@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}
